{% extends "base.html" %}
{% block title %}Изменить пароль{% endblock %}
{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}
{% load recipe_filters %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
</div>
<div class="form-container">
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}

        <div class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
            <div class="form__field-group">
                {{ field|add_class:"form__input" }}
                {% if form.errors %}
                {% for error in field.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        {% endfor %}
        <div class="form__footer">
            <button type="submit" class="button button_style_blue">Изменить
                пароль
            </button>
        </div>
    </form>
</div>
{% endblock %}
