<nav class="nav">
    <div class="nav__container container">
      {% with request.resolver_match.url_name as url_name %}
        <ul class="nav__items list">  
          {% url 'index' as path %}
            <li class="nav__item {% if 'index' == url_name or 'recipe_view' == url_name %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            {% if user.is_authenticated %}
            <li class="nav__item {% if 'subscriptions' in url_name %}nav__item_active{% endif %}"><a href="#" class="nav__link link">Мои подписки</a></li>
            <li class="nav__item {% if 'recipe_new' in url_name %}nav__item_active{% endif %}"><a href="{% url 'recipe_new' %}" class="nav__link link">Создать рецепт</a></li>
            <li class="nav__item"><a href="#" class="nav__link link">Избранное</a></li>
            {% endif %}
            <li class="nav__item"><a href="#" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">4</span></li>
        </ul>
        <ul class="nav__items list">
            {% if user.is_authenticated %}
              <li class="nav__item  {% if 'password_change' in url_name %}nav__item_active{% endif %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
              <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
            {% else %}
              <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
              <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            {% endif %}
        </ul>
      {% endwith %}
    </div>
</nav>