{% load filters %}
<div class="card-user" data-author="{{ user_to.pk }}">
  <div class="card-user__header">
    <a href="{% url 'profile' user_to.username %}" class="card-user__link link"><h2 class="card-user__title">{{ user_to.username }}</h2></a>
  </div>
  <div class="card-user__body">
    <ul class="card-user__items">
      {% for recipe in user_to.recipes.all %}
      {% if forloop.counter < 4 %}
      <li class="card-user__item">
        {% include 'includes/card_recipe_smallest.html' with recipe=recipe %}
      </li>
      {% endif %}
      {% endfor %}
      {% if user_to.recipe_count > 3 %}
      <li class="card-user__item">
        <a href="{% url 'profile' user_to.username %}" class="card-user__link link">Еще {{ user_to.recipe_count|add:-3|translate_verbose_name }}...</a>
      </li>
      {% endif %}
    </ul>
  </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
