{% extends '../base.html' %}

{% load static %}

{% block title %}404{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}
<div class="custom-center-block">
  <p class="custom-text-block">Похоже такой страницы по адресу "{{ path }}" не существует... Ошибка 404</p>
  <div class="custom-button-block">
    <a class="button button_style_blue" href="{% url 'home' %}">Перейти на главную</a>
  </div>
</div>
{% endblock %}