<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список покупок</title>
</head>
{% load static %}
<body>
<h1 align="center">Список покупок</h1>
<style type="text/css">
    BODY {
        background: white;
    }

    TABLE {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid white;
    }

    TD, TH {
        padding: 3px;
        border: 1px solid maroon;
        text-align: left;
    }
</style>
<table align="center">
    <tr>
        <th>№ п.п.</th>
        <th>Наименование</th>
        <th>Единицы измерения</th>
        <th>Количество</th>
    </tr>
    {% for item in ingredients %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.ingredients__name|capfirst }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.ingredients__unit_of_measurement__name }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>