{% extends 'base.html' %}
{% block title %}Избранное{% endblock %}
{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
    {% if page %}
        {% include "includes/tags_filter.html" with recipe=recipe %}
    {% endif %}
</div>
<div class="card-list">
    {% for recipe in page %}
        {% include "includes/card_recipe.html" with recipe=recipe %}
    {% endfor %}
</div>
    {% if not page %}
    <div class="custom-center-block">
        <p class="custom-text-block">
            Вы ещё не добавили ничего в избранное... Чтобы добавить, перейдите на&nbsp;<a href="{% url 'index' %}"> главную страницу </a>.
        </p>
    </div>
    {% endif %}

{% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
{% endblock %}